# These requirements are used across all OSA role tests, and used
# for all ansible lint/syntax tests too.
# They need to *only* include the requirements for ansible in the
# tox venv - nothing more. Anything else *must* be implemented in
# the applicable role itself as a *_pip_packages list member as
# those are actually used in production.
#
# The global requirements process and its related tests expect there
# to be a minimum here. A requirement cannot be bare. A good guide
# for any new packages added here would be to grab the minimum version
# set out in openstack/requirements/lower-constraints.txt.
# What's set as a minimum does not matter to OSA, because we always
# use the version from openstack/requirements/upper-constraints.txt
#
# Anything which is not currently accepted in the general OpenStack
# requirements repo should be added in the test-ansible-deps.txt file
# instead so that it does not cause a requirements test failure.

# Used for lint tests
bashate>=0.5.1 # Apache-2.0
flake8==3.8.3 # MIT
ansible-lint==4.3.5 # MIT

# Used to help make SNI connections work from python
# if python itself does not support it properly (<2.7.9).
pyasn1!=0.2.3,>=0.1.8 # BSD
pyOpenSSL>=17.1.0 # Apache-2.0
requests>=2.14.2 # Apache-2.0

# We use this for our own keystone module.
# TODO(odyssey4me): Remove this once we no
# longer use our own keystone module.
python-keystoneclient>=3.8.0  # Apache-2.0

# We use this for the octavia role to be able
# to upload a tagged image.
# Remove this once Ansible can do this with
# modules instead.
python-openstackclient>=3.14.2

# We use this for the Ansible openstack
# modules.
openstacksdk>=0.14.0 # Apache-2.0

# We use this for the json_query filter
jmespath>=0.9.3 # MIT
