auto {{ item.name | default('br-mgmt') }}
iface {{ item.name | default('br-mgmt') }} inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    # Notice the bridge port is the vlan tagged interface
    address {{ item.ip_addr | default('10.1.0.1') }}
    netmask {{ item.netmask | default('255.255.255.0') }}
    offload-sg off
{% if item.veth_peer is defined %}
    # Create veth pair, don't bomb if already exists
    pre-up ip link add {{ item.name | default('br-mgmt') }}-veth type veth peer name {{ item.veth_peer | default('eth1') }} || true
    # Set both ends UP
    pre-up ip link set {{ item.name | default('br-mgmt') }}-veth up
    pre-up ip link set {{ item.veth_peer | default('eth1') }} up
    # Delete veth pair on DOWN
    post-down ip link del {{ item.name | default('br-mgmt') }}-veth || true
    bridge_ports {{ item.name | default('br-mgmt') }}-veth
{% else %}
    bridge_ports none
{% endif %}

{% if item.alias is defined %}
iface {{ item.name | default('br-mgmt') }} inet static
    address {{ item.alias }}
    netmask {{ item.netmask | default('255.255.255.0') }}
{% endif %}
